<article class="card mt-2 mb-2">
    <div class="card-body">
        <h4 class="card-title">{{question.content}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">
            {% if question.asked_by %}
                Asked by: <a href={% url "board" question.asked_by %}>@{{question.asked_by}}</a>
            {% else %}
                Anonymous
            {% endif %}
        </h6>
        <p class="card-text">{{question.answer.content}}</p>
        {% if question.answer in user.liked_questions.all %}
        <a answer-id={{question.answer.id}} type="button" class="btn btn-outline-danger like-button active" data-toggle="button" aria-pressed="true" href={% url "toggle_like" %}>
            <i class="far fa-heart"></i>
            <span>{{question.answer.likes.count}}</span>
        </a>
        {% else %}
        <a answer-id={{question.answer.id}} type="button" class="btn btn-outline-danger like-button" data-toggle="button" aria-pressed="false" href={% url "toggle_like" %}>
            <i class="far fa-heart"></i>
            <span>{{question.answer.likes.count}}</span>
        </a>
        {% endif %}
    </div>
</article>