{% extends "core/pagination.html" %}
{% block empty_page %}
    <div class="jumbotron mt-4">
        <h1 class="display-6">Your inbox is empty..</h1>
        <p class="lead">It seems nobody yet has asked you anything yet. Send your board link to your friends to receive questions ;33</p>
        <hr class="my-4">
        <button id="copyButton" class="btn btn-primary btn-lg">Copy board link to clipboard</button>
        <script>
            var copyButton = document.getElementById("copyButton");

            copyButton.onclick = function() {
                navigator.clipboard.writeText("{{ BOARD_URL }}").then(function() {
                console.log('successful!');
                }, function(err) {
                console.error('unsuccessful', err);
                });
            }
        </script>
    </div>
{% endblock %}