{% if questions_page %}
    <ul class="pagination justify-content-center">
        {% if questions_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{questions_page.previous_page_number}}" aria-label="Previous">
                    <span>&laquo; Previous</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>&laquo; Previous</span>
                </a>
            </li>
        {% endif %}
        {% for page_num in questions_page.paginator.page_range %}
            {% if questions_page.number == page_num %}
                <li class="page-item active">
                    <a class="page-link">
                        <span>{{ page_num }}</span><!--span class="sr-only">(current)</span!-->
                    </a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">
                        <span>{{ page_num }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% if questions_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{questions_page.next_page_number}}" aria-label="Next">
                    <span>Next &raquo</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <span>Next &raquo</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% else %}
    {% block empty_page %}{% endblock %}
{% endif %}